.appWrapper {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
            "header header"
            "navbar content";
}

.contentWrapper {
    grid-area: content;
    background-color: papayawhip;
}